# thumb database
.DS_Store

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake files
CMakeFiles
CMakeCache.txt
#*.cmake
cmake-build-*
MakeFile
*.cbp
_CPack_Packages/
cmake_install.cmake
CTestTestfile.cmake

# CPack
cpack
CPackConfig.cmake
CPackSourceConfig.cmake

# make test
Testing/
DartConfiguration.tcl

# make install
install_manifest.txt

# generated appender files
ZamConfig.h

# except directories
.idea
/build
